$purple:#5B218E;
$purple-light:#ce94ed;
$yellow:#ffcc33;
$yellow-light:#ffffcd;
$orange:#EA5A24;
$green:#11ca00;
$green-main: #007f87;
$green-light:#c7fffe;
$black:#29363d;
$white: #FFF;
$blackTotal:#000;
$gray:#666666;
$gray-light:#f1f1f1;
$blue: #1f89ca;
$blue-light:#8DD8F8;
$blue-darken:#21497c;

