.wrapper {
    width: 100%;
    align-items: stretch;
    position: relative;
    min-height: 100vh;
}

.content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

footer{
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 2.5rem;
     background: $white;
     p{
         color: $gray;
     }
}

.row:before, .row:after {
    display: none !important;

}
body{
    font-family: 'Baloo Bhaina 2', cursive;
    color:$gray;
}

 h1, h2, h3, h4, h5, h6 {
     font-family: 'Oxanium', cursive;
	 color: $blue;
}

a{
    &:hover{
        text-decoration: none;
    }
}

.boldFont{
    a.dropdown-toggle{
        font-weight: bold;
    }
}
